# 위키 데이터 업로드 설정
WIKI_DATA_DIR=/Users/sandeulpark/bigdata
WIKI_BUCKET_NAME=wiki-data

# MinIO 연결 설정  
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_REGION=us-east-1